@model IEnumerable<www.Models.Content>
@if (Model != null && Model.Count() > 0)
{
    <div class="xem-nhieu">
        <h2>Xem nhiều nhất</h2>
        <div class="box-body">
            @foreach (var item in Model)
            {
                <div class="item">
                    <a href="@item.alias" title="@item.name">
                        @Html.Raw(item.name)
                    </a>
                </div>
            }
        </div>
    </div>
}

