@model IEnumerable<www.Models.Content>
@if (Model != null && Model.Count() > 0)
{
    <h2><a href="tu-lieu-hinh-anh">Tư liệu hình ảnh</a></h2>
    <div class="wrapper-gallery-slider">
        <div class="gallery-slider owl-carousel owl-theme">
            @foreach (var item in Model)
            {
                <div class="item">
                    <a href="@item.alias" class="thumbnail">
                        <img src="@item.thumbnail" alt="" />
                    </a>
                </div>
            }
        </div>
    </div>
}

