@model IEnumerable<www.Models.Content>
@if (Model != null && Model.Count() > 0)
{
    <h2><a href="tu-lieu-video">Video</a></h2>
    <div class="wrapper-video-slider">
        <div class="video-slider owl-carousel owl-theme">
            @foreach (var item in Model)
            {
                <div class="item">
                    <video class="vid" controls="controls" poster="@item.thumbnail">
                        <source src="/FileVideo/@item.description" type="video/mp4" />
                        <source src="/FileVideo/@item.description" type="video/m4v" />
                        <source src="/FileVideo/@item.description" type="video/mpeg" />
                        <source src="/FileVideo/@item.description" type="video/ogg" />
                        <source src="/FileVideo/@item.description" type="video/quicktime" />
                        <source src="/FileVideo/@item.description" type="video/webm" />
                        <source src="/FileVideo/@item.description" type="video/x-ms-wmv" />
                    </video>
                </div>
            }
        </div>
    </div>
}

