@model IEnumerable<www.Models.Content>
@if (Model != null && Model.Count() > 0)
{
    <h2><a href="tu-lieu-video">Video</a></h2>
    <div class="wrapper-video-slider">
        <div class="video-slider owl-carousel owl-theme">
            @foreach (var item in Model)
            {
                <div class="item">
                    <video class="video-js" controls preload="auto" poster="@item.thumbnail" data-setup="{}">
                        <source src="/FileVideo/@item.description" />
                        <p class="vjs-no-js">
                            Hỗ trợ: 0946.236.687
                        </p>
                    </video>
                </div>
            }
        </div>
    </div>
}

