body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.navbar-inverse {
    background: #6a9d68;
    border: none;
    border-radius: inherit;
    margin-left: -15px;
    margin-right: -15px;
}

img {
    width: 100%;
    height: auto;
}

.slider {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
}

.time {
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.day-now {
    float: right;
    width: 170px;
    text-transform: initial;
    border: 1px solid #6a9d68;
    padding: 2px;
    line-height: 20px;
}

    .day-now img {
        margin-left: 15px;
        width: 32px;
    }

.navbar {
    margin-bottom: 0px;
    min-height: 40px;
}

.navbar-nav a {
    text-transform: uppercase;
    font-weight: 600;
    color: #f9cadc !important;
}

.navbar-nav li {
    padding: 5px 0px;
}

    .navbar-nav li:last-child a {
        border-right: none;
    }

    .navbar-nav li a {
        border-right: 1px solid #3f8944;
        line-height: 35px;
        padding: 0px 15px;
    }

.breadcrumb {
    background: rgba(246,188,177,1);
    background: -moz-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,188,177,1)), color-stop(0%, rgba(240,50,25,1)), color-stop(0%, rgba(231,55,39,1)), color-stop(0%, rgba(246,188,178,1)), color-stop(100%, rgba(246,188,178,0.28)));
    background: -webkit-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
    background: -o-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
    background: -ms-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
    background: linear-gradient(to right, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6bcb1', endColorstr='#f6bcb2', GradientType=1 );
    border-radius: initial;
}

    .breadcrumb a {
        text-transform: uppercase;
        color: #333;
        font-weight: 600;
    }

.container {
    background: url(../Content/bgmain.jpg);
    min-height: 400px;
    position: relative;
}

.clearfix30 {
    float: left;
    width: 100%;
    height: 30px;
    clear: both;
}

.box h2 {
    margin: 0px;
    background: rgba(246,188,177,1);
    background: -moz-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,188,177,1)), color-stop(0%, rgba(240,50,25,1)), color-stop(0%, rgba(231,55,39,1)), color-stop(0%, rgba(246,188,178,1)), color-stop(100%, rgba(246,188,178,0.28)));
    background: -webkit-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
    background: -o-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
    background: -ms-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
    background: linear-gradient(to right, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6bcb1', endColorstr='#f6bcb2', GradientType=1 );
    font-size: inherit;
    float: left;
    width: 100%;
}

    .box h2 a {
        color: #333;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 35px;
        padding-left: 8px;
    }

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8 {
    float: left;
    width: 100%;
}

    .box1 .title {
        margin-top: 5px;
    }

    .box1 .line {
        background: #d2d3b9;
    }

    .box1 .item {
        padding: 5px 8px;
        border-bottom: 1px solid #eee;
        margin: 0px 15px;
    }

    .box1 a {
        color: #333;
        font-weight: 600;
        line-height: 24px;
    }

.box2, .box3, .box4, .box5, .box6, .box7, .box8 {
    background: #d2d3b9;
}

    .box2 .item {
        padding: 5px 8px;
        border-bottom: 1px solid #eee;
    }


    .box2 a {
        color: #333;
        line-height: 24px;
    }

.box3, .box4, .box5, .box6, .box7, .box8 {
    padding: 8px;
}

    .box3 .item, .box4 .item, .box5 .item, .box6 .item {
        margin-bottom: 15px;
    }

    .box3 a, .box4 a, .box5 a, .box6 a {
        color: #333;
        font-weight: 600;
    }

    .box6 .item .thumbnail {
        width: 150px;
        height: 110px;
        overflow: hidden;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .box6 .item .text {
    }

    .box7 .item, .box8 .item {
        padding: 5px 8px;
        border-bottom: 1px solid #bfc0c1;
    }

    .box7 a, .box8 a {
        color: #333;
    }

footer {
    background: rgba(218,217,176,1);
    background: -moz-linear-gradient(left, rgba(218,217,176,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(218,217,176,1) 0%, rgba(218,217,176,1) 34%, rgba(218,217,176,0.28) 63%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(218,217,176,1)), color-stop(0%, rgba(231,55,39,1)), color-stop(0%, rgba(246,188,178,1)), color-stop(0%, rgba(218,217,176,1)), color-stop(34%, rgba(218,217,176,1)), color-stop(63%, rgba(218,217,176,0.28)));
    background: -webkit-linear-gradient(left, rgba(218,217,176,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(218,217,176,1) 0%, rgba(218,217,176,1) 34%, rgba(218,217,176,0.28) 63%);
    background: -o-linear-gradient(left, rgba(218,217,176,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(218,217,176,1) 0%, rgba(218,217,176,1) 34%, rgba(218,217,176,0.28) 63%);
    background: -ms-linear-gradient(left, rgba(218,217,176,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(218,217,176,1) 0%, rgba(218,217,176,1) 34%, rgba(218,217,176,0.28) 63%);
    background: linear-gradient(to right, rgba(218,217,176,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(218,217,176,1) 0%, rgba(218,217,176,1) 34%, rgba(218,217,176,0.28) 63%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dad9b0', endColorstr='#dad9b0', GradientType=1 );
    float: left;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 450px;
}

    footer p {
        margin-bottom: 5px;
    }

.icon-main {
    background: url(icon-main.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 90px;
    right: 20px;
    height: 700px;
    width: 450px;
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
}

h1.page-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}

.page-content .item {
    margin-bottom: 15px;
}

    .page-content .item a {
        color: #333;
        font-weight: 600;
    }

    .page-content .item .date-post {
        color: #908e8f;
        margin-top: 15px;
        font-size: 13px;
    }

.tu-tuong-dao-duc {
    margin-bottom: 30px;
}

    .tu-tuong-dao-duc h2 a {
        color: #333;
    }

.xem-nhieu {
}

    .tu-tuong-dao-duc h2, .xem-nhieu h2 {
        background: rgba(246,188,177,1);
        background: -moz-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,188,177,1)), color-stop(0%, rgba(240,50,25,1)), color-stop(0%, rgba(231,55,39,1)), color-stop(0%, rgba(246,188,178,1)), color-stop(100%, rgba(246,188,178,0.28)));
        background: -webkit-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
        background: -o-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
        background: -ms-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
        background: linear-gradient(to right, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6bcb1', endColorstr='#f6bcb2', GradientType=1 );
        text-transform: uppercase;
        line-height: 35px;
        padding-left: 8px;
        font-weight: 600;
        margin: 0px;
        font-size: 14px;
    }

    .tu-tuong-dao-duc .box-body, .xem-nhieu .box-body {
        background: #d2d3b9;
    }

    .tu-tuong-dao-duc .item, .xem-nhieu .item {
        padding: 15px 8px;
        border-bottom: 1px solid #bfc0c1;
    }

        .tu-tuong-dao-duc .item a, .xem-nhieu .item a {
            color: #333;
        }

.thong-ke {
    margin-top: 30px;
}

    .thong-ke .box {
        background: rgba(246,188,177,1);
        background: -moz-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,188,177,1)), color-stop(0%, rgba(240,50,25,1)), color-stop(0%, rgba(231,55,39,1)), color-stop(0%, rgba(246,188,178,1)), color-stop(100%, rgba(246,188,178,0.28)));
        background: -webkit-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
        background: -o-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
        background: -ms-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
        background: linear-gradient(to right, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,1) 0%, rgba(246,188,178,0.28) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6bcb1', endColorstr='#f6bcb2', GradientType=1 );
        text-transform: uppercase;
        line-height: 35px;
        padding-left: 8px;
        font-weight: 600;
    }

    .thong-ke .box-body {
        background: #fff;
        padding: 15px 30px;
    }

.wrapper-gallery-slider, .wrapper-video-slider {
    float: left;
    width: 100%;
}

.gallery-slider {
    padding: 15px 15px;
    float: left;
    width: 100%;
}

.video-slider {
    padding: 0px;
    float: left;
    width: 100%;
}

    .gallery-slider .thumbnail, .video-slider .thumbnail {
        display: block;
        margin: 0px;
        border-radius: inherit;
    }

.gallery-slider > .item, {
    width: 33.33%;
    float: left;
}

.gallery-slider h3 {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}

    .gallery-slider h3 a {
        color: #7b7b5c;
        font-weight: bold;
    }

        .gallery-slider h3 a:hover {
            color: #333;
        }

.gallery-slider .owl-prev, .gallery-slider .owl-next, .video-slider .owl-prev, .video-slider .owl-next {
    position: absolute;
    top: 50%;
    left: -10px;
    font-size: 24px;
    margin-top: -17px;
    color: #333;
    opacity: 0;
}

    .gallery-slider .owl-prev:hover, .gallery-slider .owl-next:hover, .video-slider .owl-prev:hover, .video-slider .owl-next:hover {
        opacity: 1;
    }

.gallery-slider .owl-next, .video-slider .owl-next {
    left: auto;
    right: -10px;
}
/*
*  Owl Carousel - Core
*/
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
}

    .owl-carousel .owl-stage {
        position: relative;
        -ms-touch-action: pan-Y;
        -moz-backface-visibility: hidden;
        /* fix firefox animation glitch */
    }

        .owl-carousel .owl-stage:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

    .owl-carousel .owl-stage-outer {
        position: relative;
        overflow: hidden;
        /* fix for flashing background */
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    .owl-carousel .owl-wrapper,
    .owl-carousel .owl-item {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
    }

    .owl-carousel .owl-item {
        position: relative;
        min-height: 1px;
        float: left;
        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }

        .owl-carousel .owl-item img {
            display: block;
            width: 100%;
        }

    .owl-carousel .owl-nav.disabled,
    .owl-carousel .owl-dots.disabled {
        display: none;
    }

    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next,
    .owl-carousel .owl-dot {
        cursor: pointer;
        cursor: hand;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .owl-carousel.owl-loaded {
        display: block;
    }

    .owl-carousel.owl-loading {
        opacity: 0;
        display: block;
    }

    .owl-carousel.owl-hidden {
        opacity: 0;
    }

    .owl-carousel.owl-refresh .owl-item {
        visibility: hidden;
    }

    .owl-carousel.owl-drag .owl-item {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .owl-carousel.owl-grab {
        cursor: move;
        cursor: grab;
    }

    .owl-carousel.owl-rtl {
        direction: rtl;
    }

        .owl-carousel.owl-rtl .owl-item {
            float: right;
        }

/* No Js */
.no-js .owl-carousel {
    display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    animation-name: fadeOut;
}

.gallery h2 {
    margin: 0px;
    background: rgba(246,188,177,1);
    background: -moz-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,0.5) 0%, rgba(246,188,178,0.02) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,188,177,1)), color-stop(0%, rgba(240,50,25,1)), color-stop(0%, rgba(231,55,39,1)), color-stop(0%, rgba(246,188,178,0.5)), color-stop(100%, rgba(246,188,178,0.02)));
    background: -webkit-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,0.5) 0%, rgba(246,188,178,0.02) 100%);
    background: -o-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,0.5) 0%, rgba(246,188,178,0.02) 100%);
    background: -ms-linear-gradient(left, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,0.5) 0%, rgba(246,188,178,0.02) 100%);
    background: linear-gradient(to right, rgba(246,188,177,1) 0%, rgba(240,50,25,1) 0%, rgba(231,55,39,1) 0%, rgba(246,188,178,0.5) 0%, rgba(246,188,178,0.02) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6bcb1', endColorstr='#f6bcb2', GradientType=1 );
    font-size: inherit;
    float: left;
    width: 100%;
}

.box-gallery {
    float: left;
    width: 100%;
}

    .box-gallery .right ul {
        margin: 0px;
        background: #d2d3b9;
        padding: 0px;
    }

        .box-gallery .right ul li {
            list-style: none;
        }

            .box-gallery .right ul li.active {
                background: #bcbca7;
            }

        .box-gallery .right ul li {
            border-bottom: 1px solid #eee;
            padding: 15px 30px 15px 15px;
        }

            .box-gallery .right ul li a {
                color: #333;
                font-weight: 600;
            }

                .box-gallery .right ul li a:hover {
                    text-decoration: none;
                }

            .box-gallery .right ul li p {
                text-align: right;
                font-style: italic;
                font-size: 12px;
                padding: 0px;
                margin: 0px;
            }

    .box-gallery .left p.des {
        background: #d5d5bc;
        padding: 45px 30px;
        color: #333;
        font-weight: 600;
        width: 80%;
        box-sizing: content-box;
        position: absolute;
        bottom: -20%;
        left: 5%;
    }

.tab-content a.btnNext {
    position: absolute;
    right: -12px;
    font-size: 24px;
    color: #333;
    top: 40%;
    cursor: pointer;
}

.tab-content a.btnPrevious {
    position: absolute;
    left: -12px;
    font-size: 24px;
    color: #333;
    top: 40%;
    cursor: pointer;
}
